@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --font-jetbrainsMono: "JetBrains Mono", monospace;
    --primary-color: #1c1c22;
  }

  body {
    @apply font-primary bg-primary text-white leading-loose; /* Ensure this line is present */
  }

  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  /* text-Outline */
  .text-outline {
    -webkit-text-stroke: 1px #ffff;
  }
  .text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* scrollbar styles */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c22;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ////// */
